.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/concepts.iml
src/data/.DS_Store
src/.DS_Store
.DS_Store
/src/data/txts/metamorphosis_clean.txt
/src/data/txts/seeds_dataset.csv
/src/handle_pdfs/data/
/src/opencv_tutorials/data/
*.pyc
