/src/data/txts/metamorphosis_clean.txt
/src/data/txts/seeds_dataset.csv
/src/handle_pdfs/data/
/src/opencv_tutorials/data/
*.pyc
*.iml
*.xml
*.csv
*.DS_Store
/data/
/outputs/
/src/gfg_codes/graph/.ipynb_checkpoints/
